.error {
  position: absolute;
  inset: 0;
  padding: 32px;
  background-color: #311;
  color: #ccc;
  overflow: scroll;
}
.error h1 {
  font-size: 1.5rem;
}
.error p {
  font-family: monospace;
  white-space: pre-wrap;
}
.error p.small {
  font-size: 0.75rem;
}
